<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs')%>
    <title>Detalle de Producto - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/nav.ejs')%>
    </header>
  <!-- fin seccion barra de navegacion -->

   <!-- contenedor detalle de producto -->
   <div class="container__pd">
    <div class="pd__section">
        <div class="pd__img" id="zoomC">
        </div>
        <div class="pd_center">
            <article class="pd__info">
                <h2>Terra Rossa Chardonnay</h2> <span></span>
                <p><span>AÑO COSECHA: </span> 2018, <span> VARIEDAD: </span> 100% Chardonnay, <span> CRIANZA: </span> 10 meses en barrica de roble francés, <span> POTENCIAL DE GUARDA: </span> 5 años.</p>
                <h3>NOTAS DE CATA</h3>
                <p>Tablas de quesos blandos y semiblandos,(camembert, brie, gruyere), fiambres, ahumados. Pescados del mar (rosado blanco y rosado, chernia) centolla y langostinos. Aves, risottos y ensaladas mediterráneas.</p>
            </article>
            
            <form class="pd_buysection">
                <p><span>$12.000,00</span> Ahorro de $2.474,00</p>
                <!-- seleccion de producto- incremento y decremento -->
                <div>
                  <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                  <input type="number" id="number" value="0" />
                  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                </div>
                <!-- fin seleccion de producto- incremento y decremento -->
                <div class="cart__btn">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <a href="#">agregar al carrito</a>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- fin del contenedor detalle de producto -->

  <!-- footer -->
    <footer class="footer">
      <%- include('../partials/footer.ejs')%>
    </footer>
  <!--  finfooter -->
</body>
</html>