<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs')%>
    <title>Carrito de Compras - Terra Rossa</title>
  </head>
  <body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/nav.ejs')%>
    </header>
    <!-- fin seccion barra de navegacion -->

    <!-- carrito de compras -->
    <section class="margin__nav">
      <h1 class="cart__title">carrito</h1>
      <div class="itemlist__container">
        <div class="cart__section">
          <div class="cart__header">
            <p>producto</p>
            <p>precio</p>
            <p>cantidad</p>
          </div>
          <div class="cart__product">
            <img src="/img/pinot-noir.png" alt="imagen preview del producto" />
            <div class="cart__productdetail">
              <p><span>Terra Rossa Cabernet Sauvignon</span></p>
              <div class="cart__buttons">
                <p>$2.650,00</p>
                <form action="">
                  <select>
                    <option selected value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                </form>
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
          </div>
          <div class="cart__product">
            <img src="/img/pinot-noir.png" alt="imagen preview del producto" />
            <div class="cart__productdetail">
              <p><span>Terra Rossa Cabernet Sauvignon</span></p>
              <div class="cart__buttons">
                <p>$2.650,00</p>
                <form action="">
                  <select>
                    <option selected value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                </form>
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
          </div>
          <div class="cart__product">
            <img src="/img/pinot-noir.png" alt="imagen preview del producto" />
            <div class="cart__productdetail">
              <p><span>Terra Rossa Cabernet Sauvignon</span></p>
              <div class="cart__buttons">
                <p>$2.650,00</p>
                <form action="">
                  <select>
                    <option selected value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                </form>
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cart__section--media">
          <div class="cart__minisection">
            <p>¿Tenés un código de descuento?</p>
            <div class="cart__code">
              <form action="">
                <input type="text" maxlength="8" value="Ingrese su código" />
              </form>
              <a class="cart__btn--checkout" href="">aplicar</a>
            </div>
          </div>
          <div class="cart__minisection">
            <div class="container__total">
              <div class="total__detail">
                <p>subtotal:</p>
                <p>$ 15.781,00</p>
              </div>
              <div class="total__detail">
                <p><span>total:</span></p>
                <div>
                  <p><span>$ 14.781,00 </span></p>
                  <div class="total__message">
                    <p>iva no incluido</p>
                  </div>
                </div>
              </div>
              <a class="cart__btn--checkout" href="">finalizar compra</a>
              <a class="cart__btn--checkout" href="">seguir comprando</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- fin carrito de compras -->
    <footer class="footer">
      <%- include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>
