.productCard{
    width: 300px;
    height: 20vh;
    background-color: #333333;
    border-radius: 10px;
    margin: auto;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

.wineBotleIco{
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: #f53117;
    position: relative;
    top: -20px;
    left: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

.productCard h2{
    position: relative;
    left: 160px;
    bottom: 30px;
    color: aliceblue;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}

.productCard p{
    position: relative;
    left: 220px;
    bottom: 20px;
    color: aliceblue;
    font-size: 35px;
}

.productCard div{
    width: 80%;
    border-bottom: 1px solid #f53117;
    position: relative;
    bottom: 10px;
    left: 30px;
}