.content-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
}

.color {
    width: 80vw;
    height: 80px;
    background-color: darkorchid;
    margin: 2% auto;
    border-radius: 10px;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
    margin: 2% 10%;
}

.other-content {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
    margin: 2% 5%;
}

@media screen and (min-width: 470px) {
    .card-content {
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {
    .card-content {
        gap: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .card-content {
        gap: 70px;
    }
}