<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/9caded27f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Terra Rossa</title>
</head>
<body>
<header>Esta e la cabecera
</header>
<main>
    <section class="philosophy">
        <div class="circle"></div>
        <article class="text-content">
        <h2 class="first-text">Nuestra</h2>
        <h2 class="second-text">Filosofía</h2>
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum provident laboriosam fuga voluptate architecto! Accusamus, voluptatibus amet! Eum, distinctio explicabo! Quos, et velit. Suscipit aspernatur quisquam quod nulla ad repellat.</p> 
        </article>
    </section>
</main>
<footer class="footer">
    <section class="container">
        <div class="row">
            <article class="footer-col">
                <h4>Vinos</h4>
                <ul>
                    <li><a href="#">Tintos</a></li>
                    <li><a href="#">Blancos</a></li>
                    <li><a href="#">Espumantes</a></li>
                    <li><a href="#">Especiales</a></li>
                </ul>
            </article>
            <article class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="#">Formulario de Registro</a></li>
                     <li><a href="#">Iniciar Sesión</a></li>
                </ul>
            </article>
            <article class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Términos y condiciones</a></li> 
                </ul>
            </article>
            <!-- <div class="footer-col">
                <h4>Medios de pago</h4>
                <ul>
            <li><a href="#">Icono</a></li>
            <li><a href="#">Icono</a></li>
                </ul>
            </div> -->
            <article class="footer-col">
                <h4>Redes</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div> 
            </article>
                <img class="footer-img" src="/img/design/logo-w.png" alt="">
        </div>
        <p class="text-foo">BEBER CON MODERACIÓN, PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
        <p class="copy">Terra Rossa 2022 &copy;, todos los derechos reservados</p>
    </section> 
</footer>
</body>
</html>