<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Terra Rossa</title>
    <!---Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!---fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    
</head>
<body>
<header></header>
<main>
    <section class="container__section">
    <div><h1 class="title"><strong>SELECCION TERRA ROSSA</strong></h1></div>
  <div class="container__block"><article class="block">
      <p class="title2" > Terra Rossa</p>
      <p class="title3" > Cabernet Sauvignon</p>
      <p class="title4" > COSECHA 2018</p>
      <img class="product" src="/img/design/malbec.png" alt="Aqui va la imagen">
      <a  class="botom" href="http://terrarossa.com" target="">VER PRODUCTO</a>
  </article>
  <article class="block">
    <p class="title2" >Terra Rossa</p>
      <p class="title3" > Cabernet Sauvignon</p>
      <p class="title4" > COSECHA 2018</p>
    <img class="product" src="/img/design/merlot.png" alt="Aqui va la imagen">
    <a  class="botom" href="http://terrarossa.com" target="ver.productoDetail">VER PRODUCTO</a>
</article>
<article class="block">
    <p class="title2" >Terra Rossa</p>
      <p class="title3" > Cabernet Sauvignon</p>
      <p class="title4" > COSECHA 2018</p>
    <img class="product" src="/img/design/pinot-noir.png" alt="Aqui va la imagen">
    <a class="botom" href="http://terrarossa.com" target="ver.productoDetail">VER PRODUCTO</a>
</article>
<article class="block">
    <p class="title2" >Terra Rossa</p>
      <p class="title3" > Cabernet Sauvignon</p>
      <p class="title4" > COSECHA 2018</p>
    <img class="product" src="/img/design/chardonay-bottle.png" alt="Aqui va la imagen"> 
    <a class="botom" href="http://terrarossa.com" target="ver.productoDetail">VER PRODUCTO</a>
</article>
</div>
</section>
</main>
<footer></footer>
</body>
</html>