<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login/Register</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<header>
		<section class="cabecera">
			<a><img class="cabecera__logo" src="/img/logo-w.png"></a>
		</section>
	</header>
	<main>
		<section class="form-container">
			<article>
				<H2>REGISTRARSE</H2>
			</article>
			<article>
				<form action="/datos-registro" method="POST">
					<div>
						<h4>Nombre</h4>
						<input type="text" name="nombre" placeholder="Ingrese su nombre">
					</div>
					<div>
						<h4>Email</h4>
						<input type="email" name="email" placeholder="Ingrese su email">
					</div>
					<div>
						<h4>Fecha de Nacimiento</h4>
						<input type="date" name="fecha_nac" placeholder="Ingrese su Fecha de Nacimiento">
					</div>
					<div>
						<h4>Contraseña</h4>
						<input type="password" name="password" placeholder="Ingrese su contraseña">
					</div>
					<div>
						<h4>Comprobacion de Contraseña</h4>
						<input type="password" name="password" placeholder="Reingrese su contraseña">
					</div>
				</form>
			</article>
		</section>
		<section class="form-container">

		</section>
	</main>



	<footer></footer>
	
</body>
</html>