<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9caded27f0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="img/png" href="/img/logo-web-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Carrito de Compras - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <!-- <header>
      <nav class="nav-bar">
        <a href="/" ><img class="logo" src="img/logo-w.png" /></a>
        <div id="navMenu" class="nav-hamburguer">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-menu-list">
          <li class="nav-menu-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/catalogo">Catálogo</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/nosotros">Nosotros</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/contactus">Contacto</a>
          </li>
          </ul>
          <ul class="nav-menu-list icon">
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
          </li>
          </li>
        </ul>
      </nav>
    </header> -->
    <!-- fin seccion barra de navegacion -->
<section>
  <h1>carrito</h1>
  <div class="cart__container">
    <div class="cart__section">
      <div class="cart__header">
        <h3>producto</h3>
        <h3>precio</h3>
        <h3>cantidad</h3>
      </div>
      <div class="cart__product">
        <img src="/img/merlot.png" alt="imagen preview del producto">
        <div class="cart__productdetail">
          <p><span>Terra Rossa Cabernet Sauvignon</span></p>
          <p>$2.650,00</p>
          <div class="cart__buttons">
            <p>cantidad</p>
            <i class="fa-regular fa-trash-can"></i>
          </div>
        </div>
      </div>
      <div class="cart__product">
        <img src="/img/merlot.png" alt="imagen preview del producto">
        <div class="cart__productdetail">
          <p><span>Terra Rossa Cabernet Sauvignon</span></p>
          <p>$2.650,00</p>
          <div class="cart__buttons">
            <p>cantidad</p>
            <i class="fa-regular fa-trash-can"></i>
          </div>
        </div>
      </div>
      <div class="cart__product">
        <img src="/img/merlot.png" alt="imagen preview del producto">
        <div class="cart__productdetail">
          <p><span>Terra Rossa Cabernet Sauvignon</span></p>
          <p>$2.650,00</p>
          <div class="cart__buttons">
            <p>cantidad</p>
            <i class="fa-regular fa-trash-can"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cart__section">
      <p>boton descuento y total producto</p>
    </div>
  </div>
</section>
   
</body>
</html>