<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9caded27f0.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="img/png" href="/img/logo-web-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Detalle de Producto - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <nav class="nav-bar">
        <a href="/" ><img class="logo" src="img/logo-w.png" /></a>
        <div id="navMenu" class="nav-hamburguer">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-menu-list">
          <li class="nav-menu-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/catalogo">Catálogo</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/nosotros">Nosotros</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="/contactus">Contacto</a>
          </li>
          </ul>
          <ul class="nav-menu-list icon">
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
          </li>
          </li>
        </ul>
      </nav>
    </header>
  <!-- fin seccion barra de navegacion -->

   <!-- contenedor detalle de producto -->
   <div class="container__pd">
    <div class="pd__section">
        <div class="pd__img" id="zoomC">
        </div>
        <div class="pd_center">
            <article class="pd__info">
                <h2>Terra Rossa Chardonnay</h2> <span></span>
                <p><span>AÑO COSECHA: </span> 2018, <span> VARIEDAD: </span> 100% Chardonnay, <span> CRIANZA: </span> 10 meses en barrica de roble francés, <span> POTENCIAL DE GUARDA: </span> 5 años.</p>
                <h3>NOTAS DE CATA</h3>
                <p>Tablas de quesos blandos y semiblandos,(camembert, brie, gruyere), fiambres, ahumados. Pescados del mar (rosado blanco y rosado, chernia) centolla y langostinos. Aves, risottos y ensaladas mediterráneas.</p>
            </article>
            
            <form class="pd_buysection">
                <p><span>$12.000,00</span> Ahorro de $2.474,00</p>
                <!-- seleccion de producto- incremento y decremento -->
                <div>
                  <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                  <input type="number" id="number" value="0" />
                  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                </div>
                <!-- fin seleccion de producto- incremento y decremento -->
                <div class="cart__btn">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <a href="#">agregar al carrito</a>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- fin del contenedor detalle de producto -->

  <!-- footer -->
    <footer class="footer">
      <section class="container">
          <div class="row">
              <article class="footer-col">
                  <h4>Vinos</h4>
                  <ul>
                      <li><a href="#">Tintos</a></li>
                      <li><a href="#">Blancos</a></li>
                      <li><a href="#">Espumantes</a></li>
                      <li><a href="#">Especiales</a></li>
                  </ul>
              </article>
              <article class="footer-col">
                  <h4>Contacto</h4>
                  <ul>
                      <li><a href="#">Formulario de Registro</a></li>
                       <li><a href="#">Iniciar Sesión</a></li>
                  </ul>
              </article>
              <article class="footer-col">
                  <h4>Ayuda</h4>
                  <ul>
                      <li><a href="#">Preguntas frecuentes</a></li>
              <li><a href="#">Términos y condiciones</a></li> 
                  </ul>
              </article>
              <!-- <div class="footer-col">
                  <h4>Medios de pago</h4>
                  <ul>
              <li><a href="#">Icono</a></li>
              <li><a href="#">Icono</a></li>
                  </ul>
              </div> -->
              <article class="footer-col">
                  <h4>Redes</h4>
                  <div class="social-links">
                      <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                      <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div> 
              </article>
                  <img class="footer-img" src="/img/qr-code.png" alt="Código Qr">
          </div>
          <p class="text-foo">BEBER CON MODERACIÓN, PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
          <p class="copy">Terra Rossa 2022 &copy;, todos los derechos reservados</p>
      </section> 
    </footer>
  <!--  finfooter -->
</body>
</html>