
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

main{
    margin-top: 80px;
}


/* Seccion barra de navegacion Mobile */

.nav-bar{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo{
    width: 125px;
    height: 40px;
    padding-left: 8vw;
    margin: 0;
    box-sizing: content-box;
}

.nav-menu-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #333333;
    top: 80px;
    right: 0;
    left: 100%;
    transition: left .90s ease;
}

.nav-menu-item{
    font-size: 16px;
    padding-bottom: 60px;
}

.nav-link{
    color: #fbf2e0;
    text-decoration: none;
    position: relative;
    padding: 8px 0;
    margin: 0;
}

.nav-menu_visible{
    left: 0%;
    width: 100vw;
}

.nav-hamburguer{
    margin-right: 5vw;
    cursor: pointer;
}

.nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0px;
    left: 0;
    background-color:#ff452c;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navMenu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #fbf2e0;
}

#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}

#navMenu, #navMenu > span {
    transition: all .4s ease-in-out;
}

#navMenu.active{
    transition-delay: 0.8s ;
    transform: rotate(45deg);
}

#navMenu.active > span:nth-child(2){
    width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3){
    transition-delay: .4s;
}

#navMenu.active >span:nth-child(1){
    transform: translateY(9px);
}

#navMenu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}

/* Seccion Novedades Mobile */
.news{
    background-color: #fbf2e0;
    width: 100vw;
    height: 500px;
    padding: 5% 15%;

}

.news .subtitle{
    margin: 50px 0;
    font-size: 30px;
    font-weight: bold;
}

.product-news{
    display: flex;
    list-style: none;
    max-height: 450px;
    overflow-x: auto;
}

.product-news::-webkit-scrollbar{
    width: 0;
}

.product-news .item{
    
    min-width: 200px;
    height: 450px;
    text-align: center;
    margin-right: 20px;
}

.product-news .item button{
    width: max-content;
    height: 30px;
    background-color: #ff452c;
    border-color: transparent;
    color: #fbf2e0;
    padding: 6px;
    border-radius: 5px;
    left: 0;
}

.product-news .item .img{
    width: auto;
    height: auto;
    max-height: 200px;
    padding: 30px 50px;
    margin-right: 20px;
    background-color:#7B7B7B;
    transition: transform .2s;
}

.news-title{
    text-align: left;
    margin: 10px 0;
}

.item .parrafo{
    text-align: left;
}





/* Slider */
.container-slider{
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

.slider{
    position: relative;
    display: flex;
    width: 300%;
    animation: change 10s infinite none ease-in-out;
}

/* banners*/
.slider__section{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    overflow: hidden;
}

/*text sliders*/
.slider__text{ /* slider01*/
    position: absolute;
    width: 35vw;
    right: 80px;
    top: 45px;
    text-align: left;
}
.slider__text h4{
    font-size: 10px;

}
.slider__text h2{
    font-size: px;
    margin: 2px 0 5px 0 ;
    font-weight: bold;
}

.slider__text p{
    font-size: 12px;
    padding-bottom: 20px;
}

/* Slider 2*/
.slider02__text{
    position: absolute;
    width: 25vw;
    left: 30px;
    top: 100px;
    text-align: left;
    color: white;
}
.slider02__text h2, .slider03__text h2{
    font-size: 20px;

}
.slider02__text h4{
    font-size: 15px;
    font-weight: normal;
    padding: 8px 0;
}
.slider02__text{
    font-size: 10px;
}

/* Slider 3*/
.slider03__text{
    position: absolute;
    width: 30vw;
    right: 20px;
    top: 20px;
    text-align: center;
}
.slider03__text a{
    position: absolute;
    width: 20vw;
    right: 30px;
    top: 60px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none; 
    padding: 6px 15px;
    border: solid 1px black;
    border-radius: 5px;
    color: black;

    
}
.slider__img{
    width: 100vw;
}

.pd__info span{
    font-weight: bold;
    font-size: 10px;
}
.container__pd{
    width: 100vw;
    margin-top: 75px;
    background-color: #2B2B2B;
    padding: 15px 0px;
}
.pd__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pd__img{
    width: 150px;
    height: 350px;
}
.pd__img img{
    width:200px;
}
#zoomC {
    background: url("../img/espumante.png");
    background-position:center;
    background-size: 150px auto;
    background-repeat: no-repeat;
}
.pd__info{
    width: 200px;
}
.pd_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.pd__info h2{
    font-weight:normal;
    font-style: italic;
    font-size: 20px;
    padding: 12px 0px;
    color: #fbf2e0;
    border-bottom: solid 1px #fbf2e0 ;
}
.pd__info h3{
    font-size: 10px;
    padding-top: 15px;
    color: #fbf2e0;
    letter-spacing: 0.5px;
}
.pd__info p {
    font-size:10px;
    line-height: 18px;
    padding: 15px 0px;
    border-bottom: solid 1px #fbf2e0 ;
    color: #fbf2e0;
    letter-spacing: 0.5px;
    text-align: justify;
}

/* btn */

.pd_buysection {
    display: flex;
    flex-direction: column;
    width: 160px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}
.pd_buysection p{
    padding: 10px 0px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #fbf2e0;
    padding-bottom: 30px;
    font-weight: 300;
    font-style: italic;
}
.pd_buysection span{
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}
.cart__btn{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fbf2e0;
    background-color: #ff452c;
    padding: 8px 10px;
    border-radius: 3px;
    margin-top: 20px;
}
.cart__btn a{
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    padding-left: 5px;
    color: #fbf2e0;
}

/* selector cantidad*/
.value-button {
    display: inline-block;
    margin: 0px;
    width: 35px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 0;
    background: white;
    color: #2B2B2B;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.value-button:hover {
    cursor: pointer;
}
  
form #decrease {
    margin-right: -4px;
}
  
form #increase {
margin-left: -4px;
}

form #input-wrap {
margin: 0px;
padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0px;
    width: 46px;
    height: 25px;
    color: white;
    background-color: #2B2B2B;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*  fin detalle producto */

/*************MEDIA QUERY**************/

@media screen and (min-width: 768px) {
    .slider__text{
        position: absolute;
        width: 35vw;
        height: auto;
        right: 80px;
        top: 80px;
        text-align: justify;
    }
    .slider__text h2{
        font-size: 30px;
        margin: 0px 0 20px 0 ;
        font-weight: bold;
        text-transform: uppercase;
    }
    .slider__text p{
        padding-bottom: 40px;
        font-size: 15px;
    }
    .slider__text a{
        position: absolute;

        text-align: center;
        width: 25vw;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none; 
        padding: 5px 30px;
        border: solid 1px black;
        border-radius: 5px;
        color: black;

    }

    /* Slider 2*/
    .slider02__text{
        position: absolute;
        width: 25vw;
        left: 45px;
        top: 180px;
        text-align: left;
        color: white;
    }
    
    .slider02__text h2, .slider03__text h2{
        font-size: 20px;

    }
    .slider02__text h4, .slider__text h4{
        font-size: 15px;
        font-weight: normal;
        margin: 0;
    }

    /* Slider 3*/
    .slider03__text{
        position: absolute;
        justify-content:start;
        width: 30vw;
        right: 45px;
        top: 75px;
        text-align: center;
    }
    .slider03__text a{
        position: absolute;
        width: 20vw;
        right: 30px;
        top: 50px;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none; 
        padding: 6px 15px;
        border: solid 1px black;
        border-radius: 5px;
        color: black;

        
    }

    /* detalle producto */

    .pd__info span{
        font-weight: bold;
        font-size: 10px;
    }
    .container__pd{
        text-align: justify;
        width: 100vw;
        margin-top: 75px;
        background-color: #2B2B2B;
        padding: 40px 100px;
    }
    .pd__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pd__img{
        width: 320px;
        height: 500px;
    }
    .pd__img img{
        width:200px;
    }
    #zoomC {
        background: url("../img/espumante.png");
        background-position:center;
        background-size: 220px auto;
        background-repeat: no-repeat;
    }
    .pd__info{
        width: 400px;
    }
    .pd_center{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 55px 10px;
    }
    .pd__info h2{
        font-weight:normal;
        font-style: italic;
        font-size: 30px;
        padding: 12px 0px;
        color: #fbf2e0;
        border-bottom: solid 1px #fbf2e0 ;
    }
    .pd__info h3{
        font-size: 12px;
        padding-top: 15px;
        color: #fbf2e0;
        letter-spacing: 0.5px;
    }
    .pd__info p {
        font-size:12px;
        line-height: 18px;
        padding: 15px 0px;
        border-bottom: solid 1px #fbf2e0 ;
        color: #fbf2e0;
        letter-spacing: 0.5px;
    }
    
    /* btn */
    
    .pd_buysection {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-top: 30px;
        align-items: center;
        justify-content: center;
    }
    .pd_buysection p{
        padding: 10px 0px;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #fbf2e0;
        padding-bottom: 30px;
        font-weight: 300;
        font-style: italic;
    }
    .pd_buysection span{
        font-weight: bold;
        font-size: 18px;
        padding-right: 10px;
    }
    .cart__btn{
        width: 260px;
        display: flex;
        align-items: center;
        justify-content:center;
        color: #fbf2e0;
        background-color: #ff452c;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: 35px;
    }
    .cart__btn a{
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        padding-left: 10px;
        color: #fbf2e0;
    }

    /* selector cantidad*/
    .value-button {
        display: inline-block;
        margin: 0px;
        width: 35px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
        padding: 2px 0;
        background: white;
        color: #2B2B2B;
        font-size: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
      
    .value-button:hover {
        cursor: pointer;
    }
      
    form #decrease {
        margin-right: -4px;
    }
      
    form #increase {
    margin-left: -4px;
    }
    
    form #input-wrap {
    margin: 0px;
    padding: 0px;
    }
    
    input#number {
        text-align: center;
        border: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0px;
        width: 46px;
        height: 25px;
        color: white;
        background-color: #2B2B2B;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /*  fin detalle producto */

    .footer-col{
		width: 20%;
	 }
	 .philosophy .text-content{
		width: 60%;
		margin: auto;
	}

	.philosophy{
		height: 200px;
	}
	.circle{
		display:flex;
		float: right;
		margin-right: 200px;
	}
    .footer{
        padding: 40px 0px 20px 0px;
    }
    .footer-col{
		width: 20%;
        margin-bottom: 10px;
	 }
	 .philosophy .text-content{
		width: 60%;
		margin: auto;
	}
	.philosophy{
		height: 200px;
	}
    .footer-col h4{
        font-size: 18px;
    }
    .footer-col .social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        }
    .text-foo{
        font-size: 16px;
    }
    .copy{
        font-size:13px;
    }
    .footer-col ul li a{
        font-size: 16px;
    }

}
/* Seccion Barra de navegacion laptop */
@media (min-width: 913px) {

    main{
        margin-top: 100px;
    }
    .nav-bar{
        height: 100px;
        position: fixed;
        padding: 0;
    }
    .logo{
        width: 180px;
        height: 63px;
        padding-left: 7vw;
        width: max-content;
    }
    .nav-hamburguer{
        display: none;
    }
    .nav-menu-list{
        background-color: transparent;
        flex-direction: row;
        width: max-content;
        justify-content: center;
        align-items: center;
        top: unset;
        left: unset;
        margin-right: 20vw ;
        transition: bottom .70s;
    }
    .nav-bar .icon{
        margin-right: 5vw;
        flex-wrap: wrap;
    }
    .nav-menu-item{
        margin: 0 15px;
        padding: 0;
        width: fit-content;
        align-items: center;
    
    }
    .icon{
        margin-right: 7vw;
    }
    #navMenu, #navMenu > span {
        transition: all .4s ease-in-out;
    }

    /* Seccion Novedades */
    
    .product-news .item button{
        width: 50%;
        height: 30px;
        background-color: #ff452c;
        border-color: transparent;
        color: #fbf2e0;
        margin: 5px 40% 0 0;
        padding: 6px;
        border-radius: 5px;
    }
    .product-news .item p{
        font-size: 15px;
        margin-top: 30px;
    }

    .news{
        background-color: #fbf2e0;
        width: 100vw;
        height: 700px;
        padding: 5% 15%;
    
    }
    
    .news .subtitle{
        margin: 0 0 50px 0;
        font-size: 40px;
        font-weight: bold;
    }
    
    .product-news{
        display: flex;
        list-style: none;
        max-height: 450px;
        overflow-x: auto;
        justify-content: center;
    
    
    }
    
    .product-news::-webkit-scrollbar{
        width: 0;
    }
    
    .product-news .item{
        
        min-width: 200px;
        height: 450px;
        text-align: center;
        margin-right: 20px;
    }
    
    .product-news .item button{
        width: max-content;
        height: 30px;
        background-color: #ff452c;
        border-color: transparent;
        color: #fbf2e0;
        left: 0;
    }
    
    .product-news .item .img{
        width: auto;
        height: auto;
        max-height: 300px;
        padding: 40px 90px;
        margin-right: 20px;
        background-color: #7B7B7B;
        transition: transform .2s;
    }

    
    .news-title{
        text-align: left;
    }
    
    .item .parrafo{
        text-align: left;
    }

    
    .slider__text{
        position: absolute;
        width: 35vw;
        right: 100px;
        top: 100px;
        text-align: justify;
    }
    .slider__text h2{
        font-size: 40px;
        margin: 0px 0 20px 0 ;
        font-weight: bold;
    }
    .slider__text h4{
        font-size: 18px;
        font-weight: normal;
    }
    .slider__text p{
        padding-bottom: 45px;
        font-size: 15px;
    }
    .btn--linebrown{
        width: 100vw;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none; 
        padding: 5px 30px;
        border: solid 1px black;
        border-radius: 10px;
        color: black;
    }
    .btn--linebrown:hover{
        transition: ease 0.1s;
        background-color: black;
        color: aliceblue;
    }
    
    /* Slider 2*/
    .slider02__text{
        position: absolute;
        width: 25vw;
        left: 48px;
        top: 200px;
        text-align: left;
        color: white;
    }
    
    .slider02__text h2{
        font-size: 20px;
    }
    .slider02__text h4{
        font-size: 18px;
        font-weight: normal;
        padding: 10px 0;
    }
    .slider02__text p{
        font-size: 12px;
    }
    
    /* Slider 3*/
    .slider03__text{
        position: absolute;
        width: 35vw;
        right: 35px;
        top: 75px;
        text-align: center;
    }
    .slider03__text h2{
        font-size: 25px;
    }
    .slider03__text a{
        position: absolute;
        width: 20vw;
        top: 50px;
        right: 60px;
    }

    /* detalle producto */

    .pd__info span{
        font-weight: bold;
        font-size: 10px;
    }
    .container__pd{
        width: 100vw;
        margin-top: 100px;
        background-color: #2B2B2B;
        padding: 0px 100px;
    }
    .pd__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pd__img{
        width: 320px;
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .pd__img img{
        width:200px;
    }
    #zoomC {
        background: url("../img/espumante.png");
        background-position:center;
        background-size: 220px auto;
        background-repeat: no-repeat;
    }
    .pd__info{
        width: 400px;
    }
    .pd_center{
        padding: 55px 10px;
    }
    .pd__info h2{
        font-weight:normal;
        font-style: italic;
        font-size: 30px;
        padding: 12px 0px;
        color: #fbf2e0;
        border-bottom: solid 1px #fbf2e0 ;
    }
    .pd__info h3{
        font-size: 12px;
        padding-top: 15px;
        color: #fbf2e0;
        letter-spacing: 0.5px;
    }
    .pd__info p {
        font-size:12px;
        line-height: 18px;
        padding: 15px 0px;
        border-bottom: solid 1px #fbf2e0 ;
        color: #fbf2e0;
        letter-spacing: 0.5px;
    }
    
    /* btn */
    
    .pd_buysection {
        width: 300px;
        padding-top: 30px;
        align-items: center;
    }
    .pd_buysection p{
        padding: 10px 0px;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #fbf2e0;
        padding-bottom: 30px;
        font-weight: 300;
        font-style: italic;
    }
    .pd_buysection span{
        font-weight: bold;
        font-size: 18px;
        padding-right: 10px;
    }
    .cart__btn{
        width: 260px;
        display: flex;
        align-items: center;
        justify-content:center;
        color: #fbf2e0;
        background-color: #ff452c;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: 35px;
    }
    .cart__btn a{
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        padding-left: 10px;
        color: #fbf2e0;
    }

    /* selector cantidad*/
    .value-button {
        display: inline-block;
        margin: 0px;
        width: 35px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
        padding: 2px 0;
        background: white;
        color: #2B2B2B;
        font-size: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
      
    .value-button:hover {
        cursor: pointer;
    }
      
    form #decrease {
        margin-right: -4px;
    }
      
    form #increase {
    margin-left: -4px;
    }
    
    form #input-wrap {
    margin: 0px;
    padding: 0px;
    }
    
    input#number {
        text-align: center;
        border: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0px;
        width: 46px;
        height: 25px;
        color: white;
        background-color: #2B2B2B;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /*  fin detalle producto */


}

@media screen and (min-width: 1200px) {

    .slider__text{
        position: absolute;
        justify-content: center;
        width: 35vw;
        height: auto;
        right: 150px;
        top: 150px;
        text-align: justify;
    }
    .slider__text h2{
        font-size: 50px;
        margin: 2px 0 40px 0 ;
        font-weight: bold;
    }
    .slider__text h4{
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
    .slider__text p{
        padding-bottom: 45px;
        font-size: 15px;
    }
    .slider__text a{
        width: 20vw;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none; 
        padding: 5px 10px;
        border: solid 1px black;
        border-radius: 5px;
        color: black;
    }
    .slider__text a:hover{
        transition: ease 0.1s;
        background-color: black;
        color: aliceblue;
    }

    /* Slider 2*/
    .slider02__text{
        position: absolute;
        width: 25vw;
        height: auto;
        left: 55px;
        top: 250px;
        text-align: left;
        color: white;
    }
    
    .slider02__text h2{
        font-size: 30px;
    }
    .slider02__text h4, .slider03__text h4{
        font-size: 20px;
        font-weight: normal;
        padding: 8px 0;
    }
    .slider02__text p{
        padding-top: 30px;
        font-size: 15px;
    }

    /* Slider 3*/
    .slider03__text{
        position: absolute;
        width: 35vw;
        right: 45px;
        top: 70px;
        text-align: center;
    }
    .slider03__text h2{
        font-size: 35px;
    }
    .slider03__text a{
        position: absolute;
        font-size: 15px;
        top: 80px;
        right: 80px;
    }

    /*items paginacion*/

    .pagination{
        z-index: 1;
        position: absolute;
        width: 100vw;
        bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .pagination__item{
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px white;
        border-radius: 2px;
        width: 25px;
        height: 10px;
        margin: 0 4px 0 4px;
        cursor: pointer;
        transition: all 300ms;
    }

    /* detalle producto */

    .pd__info span{
        font-weight: bold;
        font-size: 10px;
    }
    .container__pd{
        width: 100vw;
        margin-top: 100px;
        background-color: #2B2B2B;
        padding: 0px 100px;
    }
    .pd__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pd__img{
        width: 320px;
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .pd__img img{
        width:200px;
    }
    #zoomC {
        background: url("../img/espumante.png");
        background-position:center;
        background-size: 220px auto;
        background-repeat: no-repeat;
    }
    .pd__info{
        width: 500px;
    }
    .pd_center{
        padding: 70px 10px;
    }
    .pd__info h2{
        font-weight:normal;
        font-style: italic;
        font-size: 30px;
        text-align:left;
        padding: 12px 0px;
        color: #fbf2e0;
        border-bottom: solid 1px #fbf2e0 ;
    }
    .pd__info h3{
        font-size: 12px;
        padding-top: 15px;
        color: #fbf2e0;
        letter-spacing: 0.5px;
        text-align:left;
    }
    .pd__info p {
        font-size:12px;
        line-height: 18px;
        padding: 15px 0px;
        border-bottom: solid 1px #fbf2e0 ;
        color: #fbf2e0;
        letter-spacing: 0.5px;
    }
    
    /* btn */
    
    .pd_buysection {
        width: 300px;
        padding-top: 30px;
        align-items: center;
        justify-content: left;
    }
    .pd_buysection p{
        padding: 10px 0px;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #fbf2e0;
        padding-bottom: 30px;
        font-weight: 300;
        font-style: italic;
    }
    .pd_buysection span{
        font-weight: bold;
        font-size: 18px;
        padding-right: 10px;
    }
    .cart__btn{
        width: 260px;
        display: flex;
        align-items: center;
        justify-content:center;
        color: #fbf2e0;
        background-color: #ff452c;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: 35px;
    }
    .cart__btn a{
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 10px;
        color: #fbf2e0;
    }

    /* selector cantidad*/
    .value-button {
        display: inline-block;
        margin: 0px;
        width: 35px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
        padding: 2px 0;
        background: white;
        color: #2B2B2B;
        font-size: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
      
    .value-button:hover {
        cursor: pointer;
    }
      
    form #decrease {
        margin-right: -4px;
    }
      
    form #increase {
    margin-left: -4px;
    }
    
    form #input-wrap {
    margin: 0px;
    padding: 0px;
    }
    
    input#number {
        text-align: center;
        border: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0px;
        width: 46px;
        height: 25px;
        color: white;
        background-color: #2B2B2B;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /*  fin detalle producto */

    .circle{
        width: 120px;
        height: 120px;
        margin-right: 150px;
    }
}

/*animations slider*/

@keyframes change {
    1%{margin-left: 0%;}
    30%{margin-left: 0%;}

    34%{margin-left: -100%;}
    64%{margin-left: -100%;}

    70%{margin-left: -200%;}
    95%{margin-left: -200%;}
    
}

.container__section {
    background: #2B2B2B;
    height: 500px;
    width: 100vw;
}
.title {
    font-family: 'Montserrat', sans-serif;
    color: #FBF2E0;
    text-align: center;
    font-weight: bolder;
    font-size:35px;
    margin-top: 50px ;
}

.title2 {
    font-family: 'Montserrat', sans-serif, italic;
    color: #FBF2E0;
    text-align:center;
    font-weight: 700;
    font-size: medium;
}

.title3 {
    font-family: 'Montserrat', sans-serif;
    color: #FBF2E0;
    text-align:center;
    font-weight: 700;
    font-size:small
}

.title4 {
    font-family: 'Montserrat', sans-serif;
    color: #FBF2E0;
    text-align:center;
    font-size:xx-small;
    line-height: normal
}


.product {
    width: 55%;
    display:block;
    margin:auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.block {
    background: #333333;
    display: inline-block;
    width: 20%;
    margin: 3px;
    padding: 10px 50px;
    text-align: center;
    position: center,top;
    margin-top: 70px;
    box-shadow: 0px 0px 10px 0px black;
    

}
 .block:hover {
     transform: scale(1.1);
 }

.botom {
   font-family: 'Montserrat', sans-serif, italic;
   text-decoration: none;
   font-weight:600;
   color: #FBF2E0;
   text-align:center;
   font-size:12px;
   background: #FF452C;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:18px;
   padding-right:18px;
   border-radius: 5px;
}

.container__block {
    display:flex;
    justify-content:center;
}

.container__block p {
    font-style: italic;
}




/*************************** SECTION PHILOSOPHY*************************************/
.philosophy{
	width: 100%;
	height: 250px;
	margin-top: 100px;
}
.text-content .first-text{

	margin-top: -55px;
	margin-bottom: 8px;
	margin-left: 30px;
}

.text-content .second-text{
	margin-bottom: 10px;
	margin-left: 60px;
}



.philosophy .text-content {
	background-color: #333333;
	width: 100%;
	color:#fbf2e0;
	padding: 25px;
	text-align: justify;
	height: 100%;
}

.text-content p, .text-content h3, .text-content .second-text {
	background-color: #333333;
}
/************************FIN SECTION PHILOSOPHY**********************/
/*************************FOOTER************************/
.footer{
	width:100%;
	position: relative;
	bottom: 0;
	background-color: #2b2b2b;
    padding: 40px 0;
	margin-top: 50px;
}
.footer .container{
	width: 90%;
	margin:auto;
}
.footer .container .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer ul{
	list-style: none;
}

.footer-col{
   width: 100%;
   padding: 0px 15px 10px 15px;
   margin-bottom: 50px;
}
.footer-col h4{
	font-size: 22px;
	color: #fbf2e0;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	cursor: default;
}
.footer-col h4:after{ /*subrayado a todos los h4 de footer-col*/
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	bottom:0;
	left: 0;
	background-color:#ff452c;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.6s ease-out;
}
.footer-col h4:hover:after{ /*comportamiento del subrayado*/
	transform: scaleX(1);
	transform-origin: bottom left;
}

.footer-col ul li:not(:last-child){ /*espaciado entre li*/
	margin-bottom: 10px;
}
.footer-col ul li a{  /*comportamiento de la etiqueta a de .footer-col*/
	font-size: 20px;
	text-transform: capitalize;
	color: #fbf2e0;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #333333;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	color: #fbf2e0;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #333333; 
	background-color: #fbf2e0;
}

.footer-img{
	/* background-image: url(/img/blobanimation.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right center; */
    width: 100px;
	height: 100px;
    margin-bottom: 20px;
}

.text-foo{
    border-top: 3px solid #7B7B7B;
    padding: 10px;
	font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #FBF2E0;
}
.copy{
	font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
    color: #FBF2E0;
}
/************************** FIN FOOTER*************************************/
