.product-detail-section{
    width: 100%;
    height: 75vh;
    border-radius: 10px;
    background-color: aquamarine;
}

.products-related-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products-element{
    width: 100%;
    height: 100%;
    background-color: brown;
    border-radius: 10px;
}