<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs')%>
    <title>Blog - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('partials/nav.ejs')%>
    </header>
    <!-- fin seccion barra de navegacion -->

    <!-- nota blog -->
    <section  class="margin__blog">
      <div class="bg__container"></div>
      <div class="blog__container">
        <div class="blog__content">
          <h2 class="blog__tittle">CÓMO CONVERTIRTE EN SOMMELIER DE VINOS</h2>
          <div class="blog__img"><img src="/img/full-blog.png" alt=""></div>
          <div class="blog__text">
            <p><span>¿Qué es un sommelier?</span> Básicamente consiste en un gran catador y conocedor de cepas de uvas, sus orígenes, la manera en que aporta suelo, las regiones vitícolas del mundo y las bodegas. Que, además, sabe cómo comunicarlo. A grandes rasgos, es el vínculo entre una bodega y el cliente. Y quien está capacitado para recomendar botellas y para crear los mejores maridajes entre la comida y el vino. Sin embargo, la carrera de un sommelier puede tomar distintas direcciones. Al final, dependerá de las aspiraciones de cada persona.</p>
            <ul class="blog__list">
              <li>
                <h3>adéntrate en el mundo del vino</h3>
                <p>“Creo que cada persona que quiera estudiar sommeliería por lo menos tiene que tener un acercamiento previo al mundo del vino, más allá de que le guste”, explica el sommelier <span>Javier Adriasola </span></p>
              </li>
              <li>
                <h3>entrena tu paladar</h3>
                <p>Es indispensable partir por degustar vinos lo más que se pueda. “Vinos de distintas variedades, de la misma variedad pero de zonas distintas, vinos de distintos orígenes. Y así, partir por aprender a diferenciar las diferentes variedades de uvas. Poner un Cabernet Sauvignon, un Syrah y ver cuáles son las diferencias entre uno y uno, es un excelente ejercicio. Y luego ir profundizando, o incorporando vinos que tienen más o menos guarda en madera”, asegura nuestro experto.<br> <br> Sin embargo, catar vinos sin tener alguien que te guíe puede ser difícil en un comienzo. Por eso, Javier recomienda unirse a algún club de vinos donde los socios tengan la oportunidad de recibir vinos, participar de degustaciones guiadas, o ir a un wine bar donde haya un sommelier que te cuente sobre el vino que bebes, sobre todo si es que no has estudiado al respecto.</p>
              </li>
              <li>
                <h3>certifícate</h3>
                <p>Si bien no es necesario un certificado para ser llamado sommelier (de hecho, mucha gente hace carrera partiendo como mesero en un bar o restaurant), obtener el diploma es de gran ayuda. Primero, porque te ayudará a encontrar un trabajo ya que el título es muy respetado. Segundo, porque te entregará una gran cantidad de conocimientos y herramientas prácticas a la hora de degustar y servir el vino. Básicamente es un entrenamiento muy valioso, sobre todo si no tienes experiencia previa.</p>
              </li>
            </ul>
          </div>
          <div>
            <a href="/" class="cart__btn--checkout">volver</a>
          </div>
        </div>
      </div>
    </section>
    <!-- fin nota blog -->
    <footer class="footer">
      <%- include('partials/footer.ejs')%>
     </footer>
     
</body>
</html>