<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/faq.css" />
    <title>FAQ</title>
  </head>
  <body>
      <!-- seccion barra de navegacion -->
      <header>
        <%- include('partials/nav.ejs')%>
      </header>
      <!-- fin seccion barra de navegacion -->

    <div class="faq-container">
      <header>
        <!-- <section class="cabecera">
          <a href="/"><img class="cabecera__logo" src="/img/logo-w.png" /></a>
        </section> -->
    <main>
        <div class="cont-gen">
           <div class="container-acordeon">
            <h2>Sobre productos:</h2>  
           <div>
            <section class="sub-titles">
                <h3>
                    ¿Cómo se fabrican los productos?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">El vino se obtiene de la fermentación del fruto de la vid y no tiene agregados de ningún tipo, por lo tanto, no es exagerado afirmar que es la más noble y genuina de las bebidas..
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿De dónde vienen los productos?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Nuestros productos vienen desde nuestras fincas ubicadas en la ciudad de Posadas, provincia de Misiones.
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Utilizan materiales de calidad?
                    <span>
                    <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Se utilizan materiales de los más altos estándares de calidad tales cómo : Uvas sanas y maduras.
                    Levaduras indígenas (naturales de las vides) o seleccionadas (agregadas).
                    Recipientes donde realizar la fermentación (pueden ser de acero inoxidable, cemento, madera o plástico, dependiendo del estilo de vino que se quiera elaborar).
                />
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Tiene garantía el producto?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Tenemos cómo garantía que nuestros productos están certificados bajo los estándares del<a href="https://www.solingesa.com/soluciones/ingenieria-ambiental/eficiencia-energetica/metodologia-para-la-implantacion-de-un-sistema-de-la-eficiencia-energetica-iso-50001.html" target="_blank"> ISO 50001</a>.
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Cómo puedo consultar el estado de mi pedido?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Para consultar el estado del pedido deberás comunicarte con la empresa de envíos mediante el código que te fue proporcionado al momento de la compra.
                </p>
            </section>
           
            
           </div>
           
        </div> 
        <div class="container-acordeon">
            <h2>Sobre envíos:</h2> 
            <section class="sub-titles">
                <h3>
                    ¿Cuales son los tiempos de envío?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Los tiempos pueden variar de acuerdo a la disponibilidad del producto. Los tiempos de entrega son aproximados y se calculan a partir del envío de la factura
                    <br>
                    - Hasta 3 días hábiles para Misiones
                    <br>
                    - 8 a 10 días hábiles para Buenos Aires (excepto CABA y GBA).
                    <br>
                    - 10 a 15 días hábiles para: Salta, Tucumán, Entre Ríos, San Luis, Santa Fe, Jujuy, Chaco, San Juan, La Pampa, Mendoza, Santiago del Estero y Córdoba.
                    <br>
                    - 15 a 20 días hábiles para CABA y GBA, Formosa, Río Negro, Catamarca y La Rioja.
                    <br>
                    - 20 a 25 días hábiles para: Corrientes, Misiones, Neuquén, Chubut y Santa Cruz..
                    
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Qué hago si quiero devolver un producto?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Los pedidos se pueden cancelar sin coste alguno hasta el momento en que el envío se hace efectivo.  Las devoluciones pueden hacerse hasta 7 días hábiles a partir de la recepción del producto según las especificaciones que siguen.
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Que medios de pago aceptan?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Podrás pagar a través de Mercado Pago o tarjetas de crédito (Visa, American Express y Mastercard).
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Quién se encarga de mi pedido una vez enviado?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">La empresa encargada de la logistica es <a href="https://www.correoargentino.com.ar/" target="_blank"> Correo Argentino</a>.
                </p>
            </section>
            <section class="sub-titles">
                <h3>
                    ¿Que sucede con mi envío si cambio de dirección?
                    <span>
                        <img src="/img/arrow.svg" alt="">
                    </span>
                </h3>
                <p class="desplegar">Si sos el profe nico o adrian y ves esto la te lo llevamos hasta tu casa nueva.
                </p>
            </section>

        </div>
        </div>
        
        </div>
    </main>
    <footer class="footer">
        <%- include('partials/footer.ejs')%>
    </footer>
    <script src="/js/acordeon.js">
    </script>
</body>

</html> 