<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/not.css">
    <title>Error 404</title>
</head>
<body>
    <div class="container-404">
            <img class="img-cup" src="/img/fondo3.webp" alt="wine cup">
        <div class="text">
            <h2 class="title-404">¡Lo sentimos!</h2>
            <p>no encontramos la página solicitada.</p>
             <a href="/"><p>Para volver presiona aquí</p></a>
        </div>
    </div>
</body>
</html>