<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs')%>
  <link rel="stylesheet" href="/css/tyc.css" />
  <title>Términos y condiciones</title>
</head>

<body>
  <!-- seccion barra de navegacion -->
  <header>
    <%- include('partials/nav.ejs')%>
  </header>
  <!-- fin seccion barra de navegacion -->
  <main>
    <div class="scroll">
      <div class="tyc-container">
        <h1>Términos y condiciones</h1>
        <p>La página Web de "Terra Rossa" tiene como función principal proveer información relativa a sus servicios.
          Solicitamos al visitante y al usuario de esta página, que lean detallada y juiciosamente estas condiciones y la
          política de privacidad, antes de iniciar su exploración o utilización, y en caso de no estar de acuerdo con
          estas condiciones o con cualquier disposición de la política de privacidad, le sugerimos que se abstenga de
          acceder o navegar por la página Web de nuestra entidad</p>
        <ol>
          <li class="subtitulo">Aceptacion de términos</li>
          <p>Cuando un usuario accede a la página Web de "Terra Rossa" lo hace bajo su total responsabilidad y por tanto,
            acepta plenamente y sin reservas el contenido de los términos y condiciones de uso de la página Web de la
            entidad estatal. Nos reservamos, en todos los sentidos, el derecho de actualizar y modificar en cualquier
            momento y de cualquier forma, de manera unilateral y sin previo aviso, las presentes condiciones de uso y los
            contenidos de la página.</p>
          <li class="subtitulo">Copyright</li>
          <p>Esta página de Internet y su contenido, incluyendo los textos, gráficos, logos, animaciones y sonidos, son de
            propiedad de Terra Rossa. Está prohibida su reproducción total o parcial, su traducción, inclusión,
            transmisión, almacenamiento o acceso a través de medios analógicos, digitales o de cualquier otro sistema o
            tecnología creada, sin nuestra autorización previa.
            Los usuarios pueden recuperar, exhibir, imprimir, copiar o descargar cualquier material de este sitio
            exclusivamente para uso personal y no comercial, siempre y cuando se haga expresa mención de la propiedad en
            cabeza del.
            Con respecto a los contenidos que aparecen en la página de Terra Rossa, el usuario se obliga a: </p>
          <ul>
            <li>Usar los contenidos de forma diligente, correcta y lícita.</li>
            <li>No suprimir, eludir, o manipular el copyright (derechos de autor) y demás datos que identifican los
              derechos de Terra Rossa.</li>
            <li>No emplear los contenidos y, en particular, la información de cualquier otra clase obtenida a través de
              Terra Rossa o de los servicios, para emitir publicidad.</li>
            <li>Terra Rossa no será responsable por el uso indebido que hagan los usuarios del contenido de su página Web.
            </li>
            <li>El visitante o usuario de la página Web se hará responsable por cualquier uso indebido, ilícito o anormal
              que haga de los contenidos, información o servicios de la página Terra Rossa. El visitante o usuario del
              sitio, directa o por interpuesta persona, no atentará de ninguna manera contra la página Web de Terra Rossa,
              contra su plataforma tecnológica, contra sus sistemas de información ni tampoco interferirá en su normal
              funcionamiento.</li>
            <li>El visitante o el usuario del sitio, no alterará, bloqueará o realizará cualquier otro acto que impida
              mostrar o acceder a cualquier contenido, información o servicios del sitio Web deo Terra Rossa que estén
              incorporados en las páginas Web vinculadas a nosotros.</li>
            <li>El visitante o el usuario de la página Web Terra Rossa no enviará o transmitirá en este sitio Web o hacia
              el mismo, a otros usuarios o a cualquier persona, cualquier información de alcance obsceno, difamatorio,
              injuriante, calumniante o discriminatorio contra nosotros, contra sus funcionarios o contra los responsables
              de la administración de la página Web.</li>
            <li>El visitante o el usuario de la página Web de Terra Rossa, no incurrirá en y desde el mismo, en conductas
              ilícitas como daños o ataques informáticos, interceptación de comunicaciones, infracciones al derecho de
              autor, uso no autorizado de terminales, usurpación de identidad, revelación de secretos o falsedad en los
              documentos.</li>
          </ul>
          <li class="subtitulo">Privacidad</li>
          <p>Terra Rossa se compromete a salvaguardar la privacidad de la información personal del Usuario obtenida a
            través de la página Web de la entidad, para lo cual adopta una política de confidencialidad de acuerdo con lo
            que se establece más adelante.
  
            Se entiende por información personal aquella suministrada por el Usuario para el registro, la cual incluye
            datos como nombre, identificación, edad, género, dirección, correo electrónico y teléfono.
  
            El Usuario reconoce que el ingreso de información personal, lo realiza de manera voluntaria y ante la
            solicitud de requerimientos específicos por nosotros para realizar un trámite, presentar una queja o reclamo,
            o para acceder a los mecanismos interactivos.
  
            Con ocasión de un trámite o servicio desarrollado por medios Electrónicos, la Entidad podrá solicitar
            información a los Usuarios del Sitio Web y la tratara con todas las garantías legales y de seguridad que
            impone la Constitución Política, las normas aplicables a la protección de datos de carácter personal y demás
            normas concordantes. La solicitud de información se hace siempre para que el Usuario la suministre de manera
            voluntaria.
  
            Terra Rossa se compromete a no ceder, vender, ni a compartir los datos recibidos en el Sitio Web con terceros
            sin su aprobación expresa. Las entidades adscritas no se considerarán terceros para estos efectos. Así mismo,
            cancelará o rectificará los datos cuando resulten inexactos, incompletos o hayan dejado de ser necesarios o
            pertinentes para su finalidad.
  
            El Usuario Registrado se compromete a notificar a la Cámara de Comercio de Argentina, en forma inmediata y por
            medio fehaciente, cualquier uso no autorizado de su clave.</p>
            <li class="subtitulo">información y sitios web de terceros</li>
            <p>La página Web puede ofrecer hipervínculos o acceso a páginas Web y contenidos de otras personas o entidades, con el  propósito de informar al Usuario sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que ésta ofrece, o que guardan relación con aquéllos. Terra Rossa no controla, refrenda ni garantiza el contenido incluido en dichos sitios, tampoco se responsabiliza del funcionamiento o accesibilidad de las páginas Web vinculadas; ni sugiere, invita o recomienda la visita a las mismas, por lo que tampoco será responsable del resultado obtenido.
              El Usuario acepta que la entidad no es responsable de ningún contenido, enlace asociado, recurso o servicio relacionado con el sitio de un tercero. Asimismo, el Usuario acepta que el Terra Rossa no será responsable de ninguna pérdida o daño de cualquier tipo que se derive del uso que se realice de los contenidos de un tercero.
              Terra Rossa no se responsabiliza por cualquier consecuencia derivada del ingreso indebido de terceros a la base de datos y/o por alguna falla técnica en el funcionamiento y/o conservación de datos en el sistema en cualquiera de los menús de su página Web.
              Igualmente, el Terra Rossa no podrá garantizar la disponibilidad de los servicios en línea y de la información que los usuarios requieran en determinado momento. Tampoco incurrirá en responsabilidad con el usuario o terceros, cuando su página Web no se encuentre disponible.
             Terra Rossa  no responderá en ningún caso y bajo ninguna circunstancia, por los ataques o incidentes contra la seguridad de su página Web o contra sus sistemas de información; o por cualquier exposición o acceso no autorizado, fraudulento o ilícito a su página Web y que puedan afectar la confidencialidad, integridad o autenticidad de la información publicada o asociada con los contenidos y servicios que se ofrecen en ella.</p>
        </ol>
      </div>
    </div>
  </main>
  <footer class="footer">
    <%- include('partials/footer.ejs')%>
</footer>
</body>

</html>