<div class="welcome__container">
    <% if (userLog) { %>
      <div class="welcome__content">
        <h2><%= userLog.firstName%></h2>
        <p>Que bueno volver a verte!</p>
      </div>
      <div class="welcome__content">
        <img src="/img/profileImages/<%= userLog.userImg%>" alt="profile picture">
      </div>
    <% } %>
  </div>