<section class="container">
  <div class="row">
    <article class="footer-col">
      <h4>Vinos</h4>
      <ul>
        <li><a href="#">Tintos</a></li>
        <li><a href="#">Blancos</a></li>
        <li><a href="#">Espumantes</a></li>
        <li><a href="#">Especiales</a></li>
      </ul>
    </article>
    <article class="footer-col">
      <h4>Contacto</h4>
      <ul>
        <li><a href="#">Formulario de Registro</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
      </ul>
    </article>
    <article class="footer-col">
      <h4>Ayuda</h4>
      <ul>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
    </article>
    <!-- <div class="footer-col">
                <h4>Medios de pago</h4>
                <ul>
            <li><a href="#">Icono</a></li>
            <li><a href="#">Icono</a></li>
                </ul>
            </div> -->
    <article class="footer-col">
      <h4>Redes</h4>
      <div class="social-links">
        <a href="https://www.facebook.com/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://linkedin.com/" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </article>
    <img class="footer-img" src="/img/qr-code.png" alt="Código Qr" />
  </div>
  <p class="text-foo">
    BEBER CON MODERACIÓN, PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
  </p>
  <p class="copy">Terra Rossa 2022 &copy;, todos los derechos reservados</p>
</section>

<script>
    const navMenu = document.querySelector("#navMenu");
    const navToggle = document.querySelector(".nav-menu-list");

    navMenu.addEventListener("click", () => {
      navMenu.classList.toggle("active");
    });
    navMenu.addEventListener("click", () => {
      navToggle.classList.toggle("nav-menu_visible");
    });
  </script>
