<nav class="nav-bar">
    <a href="/" ><img class="logo" src="/img/logo-w.png" /></a>
    <div id="navMenu" class="nav-hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-menu-list">
      <li class="nav-menu-item">
        <a class="nav-link" href="/catalogo">Usuarios</a>
      </li>
      <li class="nav-menu-item">
        <a class="nav-link" href="/nosotros">Productos</a>
      </li>
      <li class="nav-menu-item">
        <a class="nav-link" href="/contactus">Novedades</a>
      </li>
      <li class="nav-menu-item">
        <a class="nav-link" href="/contactus"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </li>
      </ul>
  </nav>