<nav class="nav-bar">
  <a href="/"><img class="logo" src="/img/logo-w.png" /></a>
  <div id="navMenu" class="nav-hamburguer">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-menu-list main__group">
    <li class="nav-menu-item">
      <a class="nav-link" href="#">Usuarios<i class=""></i></a>
    </li>
     <li><a class="nav-link" href="/users/all-users">Cargar Usuarios</a></li>

    <li class="nav-menu-item">
      <a class="nav-link" href="#">Productos<i class=""></i></a>
    </li>

    <li><a class="nav-link" href="/product/new-product">Nuevo Producto</a></li>
    <li><a class="nav-link" href="/product/all-products">Cargar Productos</a></li>
    <li class="nav-menu-item">
      <a class="icon nav-link" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar
        sesion</a>
    </li>
  </ul>
</nav>