<!-- sidebar -->
<aside class="side__container">
    <div class="side_logo">
        <a href="/"><img src="/img/logo-w.png" alt="logotipo terra rossa"></a>
    </div>
    <ul class="main__group">
        <li class="">
          <a class="side__link" href="#">usuarios<i class="fa-solid fa-angle-down"></i></a>
          <ul class="sub__group">
                <li ><a class="side__child" href="/users/all-users">Cargar Usuarios</a></li>
          </ul>
        </li>
        <li><a class="side__link " href="#">productos <i class="fa-solid fa-angle-down"></i></a>
            <ul class="sub__group">
                <li><a class="side__child" href="/product/new-product">Nuevo Producto</a></li>
                <li ><a class="side__child" href="/product/all-products">Cargar Productos</a></li>
            </ul>
        </li>
        <li ><a class="side__link" href="#">novedades <i class="fa-solid fa-angle-down"></i></a>
          <ul class="sub__group">
            
          </ul>
        </li>
        <a class="icon" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion</a>
    </ul>
</aside>
<!-- fin sidebar -->


