.categories-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8%;
    color: aliceblue;
}

.card{
    width: 100%;
    height: 10vh;
    background: #333333;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;

}
.categoy-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 8%;
}
.line{
    margin-left: 40%;
    width: 80%;
    border-bottom: 1px solid #F53117;
    transform: rotate(133.03deg);
}

p.category-amount span{
    font-style: italic;
    font-size: 30px;
    text-align: end;
}